%header#primary_header
  .header-stars
    - 3.times do
      .star

  = render 'spinacms/shared/navigation'

  .header-title
    .container
      %h1 Guide
      .header-subtitle Read our Guide to the Galaxy to start exploring

%section#main
  .container
    .sidebar
      %nav.guide-sidebar
        %ul
          - @page.root.children.sorted.in_menu.active.each do |page|
            %li{data: {page_id: page.id}}
              = link_to page.menu_title, page.materialized_path

              %ul
                - page.children.sorted.in_menu.active.each do |child_page|
                  %li{data: {page_id: child_page.id}}
                    = link_to child_page.menu_title, child_page.materialized_path

    .main
      .guide-content.page-content
        != GuideSyntax.convert(@page.content(:text))

        .guide-links
          = link_to '#', class: 'guide-link guide-link-previous' do
            %small previous chapter
            Installation

          = link_to '#', class: 'guide-link guide-link-next' do
            %small next chapter
            Upgrade instructions