%header#primary_header
  .header-stars
    - 3.times do
      .star

  %nav#primary_nav{data: {turbolinks_permanent: true}}
    .container
      = link_to 'Spina CMS', root_url, class: 'logo'

      = render 'spinacms/shared/navigation'

  .header-title
    .container
      = link_to 'Spina CMS', root_url, class: 'logo logo-big'
      .header-subtitle 
        %h1 A beautiful CMS for Rails developers
        %p Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16e eeuw, toen een onbekende.
        
      .header-actions
        = link_to 'Get started', '#', class: 'button button-primary'
        = link_to 'Demo', '#', class: 'button button-outline-inverse'
        = link_to 'View on GitHub', '#', class: 'button button-outline-inverse'

    = video_tag "spinacms/video.mp4", autoplay: true, loop: true, width: 578, height: 686

%section#main
  .container
    .homepage-videos
      .video
        .video-icon
          .icon.icon-rocket
        %strong Developer
        %h2 Get started right away and take a look at the guide

      .video
        .video-icon
          .icon.icon-space-helmet
        %strong Client
        %h2 Convince your client by showing them this video

  .homepage-features
    .container
      .feature-content
        %label Foundations
        %h2 Everything you need for your own journey

        %p Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16e eeuw, toen een onbekende.

      .feature-blocks
        .feature-block
          .icon.icon-galaxy
          Open source
        .feature-block
          .icon.icon-observatory
          Ruby on Rails 5+
        %br/
        .feature-block
          .icon.icon-earth
          Multilingual
        .feature-block
          .icon.icon-rover
          Extendable