%header#primary_header
  .header-stars
    - 3.times do
      .star

  = render 'spinacms/shared/navigation'

  .header-title
    .container
      = link_to 'Spina CMS', root_url, class: 'logo logo-big'
      .header-subtitle 
        %h1 A beautiful CMS for Rails developers
        %p Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16e eeuw, toen een onbekende.
        
      .header-actions
        = link_to 'Get started', guide.materialized_path, class: 'button button-primary'
        = link_to 'Demo', 'http://spinacms-demo.herokuapp.com/admin/', target: :blank, class: 'button button-outline-inverse'
        = link_to 'View on GitHub', 'https://www.github.com/denkGroot/Spina', class: 'button button-outline-inverse'

    = image_tag 'spinacms/poster.png', width: 577, height: 685

%section#main

  .container
    .homepage-videos
      .content
        = link_to '#', class: 'fullscreen-video-stop' do
          &times;
        .fullscreen-video
          .js-player{data: {type: "youtube", video_id: "bTqVqk7FSmY"}}

        = link_to guide.materialized_path, class: 'video' do
          .video-icon
            .icon.icon-rocket
            .icon.icon-documentation
          %strong Developer
          %h2 Get started with the Guide to the Galaxy

        = link_to '#', class: 'video fullscreen-video-play' do
          .video-icon
            .icon.icon-space-helmet
            .icon.icon-play
          %strong Client
          %h2 Help your client launch their product

  .homepage-features
    .container
      .feature-content
        %label Foundations
        %h2 Everything you need for your own journey

        %p Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16e eeuw, toen een onbekende.

      .feature-blocks
        .feature-block
          .icon.icon-galaxy
          Open source
        .feature-block
          .icon.icon-observatory
          Ruby on Rails 5+
        %br/
        .feature-block
          .icon.icon-earth
          Multilingual
        .feature-block
          .icon.icon-rover
          Extendable