%header#primary_header
  .header-stars
    - 3.times do
      .star

  = render 'spinacms/shared/navigation'

  .header-title
    .container
      = link_to 'Spina CMS', root_url, class: 'logo logo-big'
      .header-subtitle 
        %h1 A beautiful CMS for Rails developers
        %p Editing content on the web should be easy and fun. Most people don't need to know about templates or HTML. Spina hides most of that stuff and focuses on what matters most.
        
      .header-actions
        = link_to 'Get started', guide.materialized_path, class: 'button button-primary'
        = link_to 'Demo', 'http://spinacms-demo.herokuapp.com/admin/', target: :blank, class: 'button button-outline-inverse demo-button'
        = link_to 'View on GitHub', 'https://www.github.com/denkGroot/Spina', class: 'button button-outline-inverse'

      - 3.times do
        %br/
        %br/

      = image_tag 'spinacms/screenshot.png', alt: "Screenshot Spina CMS", class: 'header-screenshot'

%section#main

  .container
    .homepage-videos
      .content
        = link_to '#', class: 'fullscreen-video-stop' do
          &times;
        .fullscreen-video
          .js-player{data: {type: "youtube", video_id: "81GQ_g6Ihug"}}

        = link_to guide.materialized_path, class: 'video' do
          .video-icon
            .icon.icon-rocket
            .icon.icon-documentation
          %strong Developer
          %h2 Get started with the Guide to the Galaxy

        = link_to '#', class: 'video fullscreen-video-play' do
          .video-icon
            .icon.icon-space-helmet
            .icon.icon-play
          %strong Video
          %h2 Guide your client on their journey

  .homepage-features
    .container
      .feature-content
        %label Standing on the shoulders of giants
        %h2 Every project needs a strong foundation

        %p Spina has been around for quite some time now and has changed a lot through the years. This is what the project is based on to enable us to create a great community and a great CMS.

      .feature-blocks
        .feature-block
          .icon.icon-galaxy
          Open source
        .feature-block
          .icon.icon-observatory
          Rails 5+
        %br/
        .feature-block
          .icon.icon-earth
          Multilingual
        .feature-block
          .icon.icon-rover
          Extendable

  .homepage-sponsors
    <script src="https://opencollective.com/spina/banner.js"></script>
