!!!
%html
  %head
    %title= current_page.seo_title

    %meta{charset: 'utf-8'}
    %meta{name: 'description', content: current_page.description}
    %meta{name: 'viewport', content: 'initial-scale=1.0, user-scalable=no, width=device-width'}
    = csrf_meta_tags

    = stylesheet_link_tag 'spinacms/application', data_turbolinks_track: true

    = javascript_include_tag 'spinacms/application', data_turbolinks_track: true

    / Typekit
    = render 'spinacms/shared/typekit'

    / Analytics
    = render 'spinacms/shared/analytics'

    / ProductHunt Ship
    = render 'spinacms/shared/product_hunt_ship'

  %body{data: {current_page: current_page.id, ancestors: current_page.ancestors.ids.join('-'), view_template: current_page.view_template}}
    = yield

    = render 'spinacms/shared/footer'