!!!
%html
  %head
    %title= @page.seo_title

    %meta{charset: 'utf-8'}
    %meta{name: 'description', content: @page.description}
    %meta{name: 'viewport', content: 'initial-scale=1.0, user-scalable=no, width=device-width'}
    = csrf_meta_tags

    = stylesheet_link_tag 'spinacms/application', data_turbolinks_track: true

    = javascript_include_tag 'spinacms/application', data_turbolinks_track: true

    / Typekit
    = render 'spinacms/shared/typekit'

    / Analytics
    = render 'spinacms/shared/analytics'

  %body{data: {current_page: @page.id, ancestors: @page.ancestors.ids.join('-'), view_template: @page.view_template}}
    = yield

    = render 'spinacms/shared/footer'